<div class="row">
  <div class="col">
    <button class="btn btn-outline-secondary btn-block text-left" (click)="showDetail()">{{customer.number}}
      {{customer.firstname}} {{customer.name}}
    </button>
  </div>
</div>
<div *ngIf="showedDetail">

  <div class="container">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Firstname:</label>
        <div class="col-sm-10">
          <input (change)="markDirty()"[(ngModel)]="customer.firstname" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
          <input (change)="markDirty()" class="form-control" [(ngModel)]="customer.name">
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Street:</label>
        <div class="col-sm-10">
          <input (change)="markDirty()" class="form-control" [(ngModel)]="customer.address.street">
        </div>
      </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">ZIP:</label>
      <div class="col-sm-10">
        <input (change)="markDirty()"  class="form-control" [(ngModel)]="customer.address.postZip">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">City:</label>
      <div class="col-sm-10">
        <input (change)="markDirty()"  class="form-control" [(ngModel)]="customer.address.city">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Country:</label>
      <div class="col-sm-10">
        <input (change)="markDirty()"  class="form-control" [(ngModel)]="customer.address.country">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="deleteCustomer()" class="btn btn-danger btn-block">delete</button>
    </div>
    <div class="col">
      <button [disabled]="!markedDirty" (click)="saveCustomer()" class="btn btn btn-dark btn-block">save</button>
    </div>
    <div class="col">
      <button (click)="makeReservation()" class="btn btn btn-dark btn-block">make Reservation</button>
    </div>
  </div>
</div>

