<div class="row">
  <div class="col-1 col-form-label">Filter:</div>
</div>
<div class="row">
  <div class="col">
      <input [(ngModel)]="searchStringValue" (keyup)="searchCustomer()" class="form-control">
  </div>
  <div class="col">
    <button class="btn btn-outline-success btn-block" (click)="addCustomer()">hinzufuegen</button>
  </div>
</div>
<app-customer-list-entry-component *ngFor="let customer of customers; let i = index" [customer]="customer"
                                   (customerDeleted)="customerDeleted(customer, i)"
                                   (customerSaved)="saveCustomer(customer)"


></app-customer-list-entry-component>

