<div>
  <label>Vorname</label>
  <input [(ngModel)]="customer.firstname">
</div>
<div>
  <label>Nachname</label>
  <input [(ngModel)]="customer.name">
</div>
  <label>Strasse</label>
  <input [(ngModel)]="customer.address.street">
<div>
  <label>Ort</label>
  <input [(ngModel)]="customer.address.city">
</div>
  <label>Plz</label>
  <input [(ngModel)]="customer.address.postZip">
<div>
  <label>Land</label>
  <input [(ngModel)]="customer.address.country">
</div>


<button (click)="saveCustomer()">Speichern</button>
