<div class="row">
  <div class="col">
    <button class="btn btn-outline-secondary btn-block text-left" (click)="showDetail()">
      {{reservation.reservationNo + " " + reservation.customerName + " " + reservation.customerFirstname}}
    </button>
  </div>
</div>
<div *ngIf="showedDetail">

  <div class="container">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">CarClass:</label>
      <div class="col-sm-10">
        <select (change)="changeCarClass()" [(ngModel)]="reservation.carClassName" class="form-control">
          <option>Bitte wählen</option>
          <option *ngFor="let carclass of carclasses">{{carclass.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Car Ident:</label>
      <div class="col-sm-10">
        <select (change)="markDirty()"[(ngModel)]="reservation.carIdent" class="form-control">
          <option>Bitte wählen</option>
          <option *ngFor="let car of cars">{{car.identification}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">CustNo:</label>
      <div class="col-sm-10">
        <input (change)="markDirty()" class="form-control" [(ngModel)]="reservation.customerNo">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Start Date</label>
      <div class="col-sm-10">
        <input type="date" (change)="markDirty()" class="form-control" [(ngModel)]="reservation.startDate">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">End Date</label>
      <div class="col-sm-10">
        <input type="date" (change)="markDirty()"  class="form-control" [(ngModel)]="reservation.endDate">
      </div>
    </div>



    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Total Cost</label>
      <div class="col-sm-10">
        <input disabled="true" (change)="markDirty()"  class="form-control" [(ngModel)]="reservation.totalCost">
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col">
      <button (click)="deleteReservation()" class="btn btn-danger btn-block">delete</button>
    </div>
    <div class="col">
      <button [disabled]="!markedDirty" (click)="saveReservation()" class="btn btn btn-dark btn-block">save</button>
    </div>
  </div>
</div>

