<div class="row">
  <div class="col-1 col-form-label">Filter:</div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-outline-success btn-block" (click)="addCarclass()">hinzufuegen</button>
  </div>
</div>
<app-carclass-list-entry *ngFor="let carclass of carclasses; let i = index" [carclass]="carclass"
                                   (carclassDeleted)="carclassDeleted(carclass, i)"
                                   (carclassSaved)="saveCarclass(carclass)"

></app-carclass-list-entry>
