<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">


  <div class="form-group row">
    <label for="customerNo" class="col-sm-2 col-form-label">Name</label>
    <input  id="customerNo" formControlName="name" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="dayRate" class="col-sm-2 col-form-label">Day Rate</label>
    <input type="number" id="dayRate" formControlName="dayRate" class="form-control col-sm-10">
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>
