<div class="row">
  <div class="col-1 col-form-label">Filter:</div>
</div>
<div class="row">
  <div class="col">
    <input [(ngModel)]="searchStringValue" (keyup)="searchReservation()" class="form-control">
  </div>
  <div class="col">
    <button class="btn btn-outline-success btn-block" (click)="addReservation()">hinzufuegen</button>
  </div>
</div>
<app-reservation-list-entry *ngFor="let reservation of reservations; let i = index" [reservation]="reservation"
                                   (reservationDelete)="deleteReservation(reservation, i)"
                                   (reservationSave)="saveReservation(reservation)"


></app-reservation-list-entry>
