<div class="row">
  <div class="col">
    <button class="btn btn-outline-secondary btn-block text-left" (click)="showDetail()">{{carclass.name}}
    </button>
  </div>
</div>
<div *ngIf="showedDetail">

  <div class="container">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <input (change)="markDirty()"[(ngModel)]="carclass.name" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Preis:</label>
      <div class="col-sm-10">
        <input type="number" (change)="markDirty()" class="form-control" [(ngModel)]="carclass.dayRate">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <button (click)="deleteCarclass()" class="btn btn-danger btn-block">delete</button>
    </div>
    <div class="col">
      <button [disabled]="!markedDirty" (click)="saveCarclass()" class="btn btn btn-dark btn-block">save</button>
    </div>
  </div>
</div>

