<div class="container">


<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">

  <div class="form-group row">
    <label for="firstname" class="col-sm-2 col-form-label">Firstname</label>
    <input id="firstname" formControlName="firstname" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <input id="name" formControlName="name" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="street" class="col-sm-2 col-form-label">Street</label>
    <input id="street" formControlName="street" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label">City</label>
    <input id="city" formControlName="city" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="postZip" class="col-sm-2 col-form-label">ZIP</label>
    <input id="postZip" formControlName="postZip" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="country" class="col-sm-2 col-form-label">Country</label>
    <input id="country" formControlName="country" class="form-control col-sm-10">
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

</div>
