<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">


  <div class="form-group row">
    <label for="ident" class="col-sm-2 col-form-label">Identification:</label>
    <input  id="ident" formControlName="identification" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="typ" class="col-sm-2 col-form-label">Typ</label>
    <input id="typ" formControlName="typ" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="brand" class="col-sm-2 col-form-label">Brand:</label>
    <input id="brand" formControlName="brand" class="form-control col-sm-10">
  </div>

  <div class="form-group row">
    <label for="carclass" class="col-sm-2 col-form-label">Carclass</label>
    <select id="carclass" formControlName="carClassName" class="form-control col-sm-10">
      <option>Bitte wählen</option>
      <option *ngFor="let carclass of carclasses">{{carclass.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>
