 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="customers" class="nav-link">Customers</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="reservation" class="nav-link">Reservations</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="carclass" class="nav-link">Carclass</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="car" class="nav-link">Cars</a>
            </li>
          </ul>
        </div>
      </nav>
 <div class="jumbotron">
 </div>
<div class="container-fluid">

  <router-outlet></router-outlet>

</div>






