<div class="row">
  <div class="col">
    <button class="btn btn-outline-secondary btn-block text-left" (click)="showDetail()">{{car.identification}}
    </button>
  </div>
</div>
<div *ngIf="showedDetail">

  <div class="container">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Brand</label>
      <div class="col-sm-10">
        <input (change)="markDirty()"[(ngModel)]="car.brand" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Ident:</label>
      <div class="col-sm-10">
        <input disabled="true" (change)="markDirty()" class="form-control" [(ngModel)]="car.identification">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">CarClass:</label>
      <div class="col-sm-10">
        <select (change)="markDirty()"[(ngModel)]="car.carClassName" class="form-control">
          <option>Bitte wählen</option>
          <option *ngFor="let carclass of carclasses">{{carclass.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Type:</label>
      <div class="col-sm-10">
        <input (change)="markDirty()" class="form-control" [(ngModel)]="car.typ">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <button (click)="deleteCar()" class="btn btn-danger btn-block">delete</button>
    </div>
    <div class="col">
      <button [disabled]="!markedDirty" (click)="saveCar()" class="btn btn btn-dark btn-block">save</button>
    </div>
  </div>
</div>

