<div class="container">


  <form [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)">

    <div class="form-group row">
      <label for="carclass" class="col-sm-2 col-form-label">Carclass</label>
      <select (change)="calculateTotalCost()" id="carclass" formControlName="carClassName" class="form-control col-sm-10">
        <option>Bitte wählen</option>
        <option *ngFor="let carclass of carclasses">{{carclass.name}}</option>
      </select>
    </div>

    <div class="form-group row">
      <label for="customerNo" class="col-sm-2 col-form-label">CustNo</label>
      <input  id="customerNo" formControlName="customerNo" disabled="true" class="form-control col-sm-10">
    </div>

    <div class="form-group row">
      <label for="begin" class="col-sm-2 col-form-label">Begin</label>
      <input (change)="calculateTotalCost()" type="date" id="begin" formControlName="startDate" class="form-control col-sm-10">
    </div>

    <div class="form-group row">
      <label for="endDate" class="col-sm-2 col-form-label">End</label>
      <input (change)="calculateTotalCost() "type="date" id="endDate" formControlName="endDate" class="form-control col-sm-10">
    </div>

    <div class="form-group row">
      <label for="totalCost" class="col-sm-2 col-form-label">Total Costs</label>
      <input disabled = "true" type="number" id="totalCost" formControlName="totalCost" class="form-control col-sm-10">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>

</div>
