<div class="row">
  <div class="col-1 col-form-label">Filter:</div>
</div>
<div class="row">
  <div class="col">
    <input [(ngModel)]="searchStringValue" (keyup)="searchCar()" class="form-control">
  </div>
  <div class="col">
    <button class="btn btn-outline-success btn-block" (click)="addCar()">hinzufuegen</button>
  </div>
</div>
<app-cars-list-entry *ngFor="let car of cars; let i = index" [car]="car"
                         (carDeleted)="carDeleted(car, i)"
                         (carSaved)="saveCar(car)"

></app-cars-list-entry>
